* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  padding: 12px 20px;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.navbar-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo-link, .navbar-title-link {
  text-decoration: none; /* Elimina el subrayado por defecto del enlace */
  color: inherit; /* Asegura que el color del enlace sea el mismo que el de su contenedor */
}


.navbar-link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar-link:hover {
  color: #cbd5e1;
}

.navbar-link:hover::after {
  width: 100%;
}

.white-logo {
  filter: brightness(0) invert(1);
}

@media (max-width: 640px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
  }

  .navbar-link {
    margin-left: 0;
    margin-bottom: 8px;
  }
}

.navbar-title-link {
  color: white;
  text-decoration: none;
  position: relative;
  font-weight: 700;
  transition: color 0.3s ease;
}

.navbar-title-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar-title-link:hover {
  color: #cbd5e1;
}

.navbar-title-link:hover::after {
  width: 100%;
}
