@import "../../../styles/colors.css"; /* Asegúrate de tener la variable --text-color aquí */

.signup-container {
  display: flex;
  height: 82.4vh;
  width: 100%;
  overflow: hidden;
}

.form-wrapper {
  width: 100%;
  max-width: 300px;
}

.signup-image {
  flex: 1;
  position: relative;
  height: 100%;
}

.signup-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form {
  flex: 1.2;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 100%;
  box-sizing: border-box;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 60rem;
  padding: 20px;
  box-sizing: border-box;
  height: auto;
}

.signup-form h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.signup-form p {
  margin-bottom: 30px;
  color: #4a5568;
}

.form-group {
  display: flex;
  gap: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  padding: 12px;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  color: #333;
}

.signin-link {
  color: var(--text-color); /* Usamos la variable de color definida en colors.css */
  text-decoration: none;
  font-weight: bold;
}

.signin-link:hover {
  text-decoration: underline;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #1e3a8a;
  outline: none;
}

.signup-button {
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.signup-button:hover {
  transform: scale(1.05);
  color: white;
}

.vertical-divider {
  width: 2px;
  background-color: #2975bc;
  height: 100%;
}

select {
  padding: 12px;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
  color: #333;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .signup-form {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .vertical-divider {
    display: none;
  }

  .signup-image {
    display: none;
  }

  .signup-form {
    padding: 20px;
    max-width: 100%;
  }

  .signup-form form {
    padding: 10px;
  }
}
