@import "../../../styles/colors.css";

.forgot-container {
  display: flex;
  height: 82.4vh;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.forgot-image {
  flex: 1;
  position: relative;
  height: 100%;
}

.forgot-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forgot-form {
  flex: 1.2;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 100%;
  box-sizing: border-box;
}

.forgot-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 60rem;
  padding: 20px;
  box-sizing: border-box;
}

.forgot-form h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.forgot-form p {
  margin-bottom: 20px;
  color: #4a5568;
}

/* Mejor estética de los inputs */
.forgot-form input[type="text"],
.forgot-form input[type="email"],
.forgot-form input[type="password"] {
  padding: 14px 16px;
  border: 1px solid #cbd5e0;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-form input[type="text"]:focus,
.forgot-form input[type="email"]:focus,
.forgot-form input[type="password"]:focus {
  border-color: #1e3a8a;
  outline: none;
  box-shadow: 0 0 0 3px rgba(30, 58, 138, 0.2);
}

.forgot-button {
  padding: 12px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.forgot-button:hover {
  opacity: 0.9;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.vertical-divider {
  width: 2px;
  background-color: #2975bc;
  height: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .forgot-container {
    flex-direction: column;
  }

  .forgot-image {
    display: none;
  }

  .forgot-form {
    padding: 20px;
    max-width: 100%;
  }

  .forgot-form form {
    padding: 10px;
  }

  .vertical-divider {
    display: none;
  }
}
