/* Asegura que html y body ocupen el 100% */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  font-family: sans-serif;
}

/* Fondo transparente */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/backgrounds/start.png');
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

/* Contenedor principal (flex vertical) */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Centra el contenido principal */
.container {
  flex: 1; /* Ocupa el espacio entre navbar y footer */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center;     /* Centrado horizontal */
  text-align: center;
  padding: 20px;
  color: black;
}

/* El footer se mantiene al final */
footer {
  padding: 12px 20px;
}

.main-button {
  margin-top: 40px; /* aumentado */
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, #33a8e7, #1e3a8a);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease, opacity 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.main-button:hover {
  transform: scale(1.05);
  color: white;
}

.arrow-icon {
  font-size: 1.2rem;
}

